[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]

[start]
cmd = "python -m gunicorn --bind 0.0.0.0:$PORT --timeout 600 --workers 2 wsgi:app"
